<div class="photo-header">
  <% if user_signed_in? %>
    <div class="nav">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete,  class: :nav__logout %>
    </div>
    <%# // ↑ログインしているときは上記を表示 %>
  <% else %>
    <div class="nav">
      <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
      <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
    </div>
  <% end %>
</div>

<div class="messages">
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>